
body {
    font-family: "Inter", sans-serif;
    background-color: #ffff;
    
}

img {
    display: block;
    max-width: 100%;
}

.list {
    text-decoration: none;
}

h1,
h2,
h3,
p,
ul {
    padding: 0;
    margin: 0;
}


/*HEADER */

.section-header {
    
    padding-top: 24px;
    padding-bottom: 24px;
   
}

.container-header {
    display: flex;
    width: 1400px;
    padding-left: 32px;
    padding-right: 32px;
}

.libel {
    font-weight: 900;
    font-size: 24.65px;
    line-height: 1.07;
    letter-spacing: -0.44px;
    color: #000000;
}

.libel-tm {
    font-weight: 900;
    font-size: 8.22;
    line-height: 1.1;
    letter-spacing: -0.15px;
    color: #000000;
}

.header-items {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 423px;
    margin-right: 424px;
    gap: 24px;
    list-style: none;
    text-decoration: none;
} 

.header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.1px;
    color: #000000;
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 24px;
    
    background-color: #000000;
    border-radius: 32px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.1px;
    color: #ffffff;
}

.container {
    display: flex;
    width: 1140px;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 64px;
    padding-bottom: 64px;

}

.circle {
    background-color: #000000;
    border-radius: 50%;
}
/* HEADER */

/* SECTION_ONE */


.container-one {
    width: 457px;
    margin-right: 130px;
    padding-top: 70px;
    padding-bottom: 70px;
}

.container-one-two {
    display: flex;
    gap: 20px;
}

.title {
    font-weight: 900;
    font-size: 56px;
    line-height: 1.1;
    letter-spacing: -1px;
    color: #000000;
    margin-bottom: 24px;
}

.text {
    font-weight: 400px;
    font-size: 18px;
    line-height: 1.55;
    color: #000000;
    margin-bottom: 40px;
}

.slogan {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.42;
    color: #000000;
}

.foto-one {
    border-radius: 12px;
    margin: 0;
}

/* SECTION_TWO */

.container-two {
    background-color: #F3F3F3;
}

.column {
    display: flex;
    gap: 30px;
    list-style: none;
    text-decoration: none;
}

.feature-one {
    display: flex;
    align-items: center;
    gap:  16px;
    margin-bottom: 16px;
}

.subtitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.55;
    color: #000000;
    justify-content: center;
    align-items: center;
}

.column-text {
    width: 360px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.1px;
    color: #000000;
}

/* SECTION TREE */

.container-tree {
    background-color: #000000;
}

.wrapper {
    padding-top: 66px;
    width: 453px;
    margin-left: 133px;
}

.sobtitle-tree {
    font-weight: 900;
    font-size: 24px;
    line-height: 1.33;
    letter-spacing: -0.1px;
    color: #ffffff;
    margin-bottom: 16px;
}

.sobtitle-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.1px;
    color: #ffffff;
    margin-bottom: 16px;
}

.sobtitle-tree-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.1px;
    color: #ffffff;
    margin-bottom: 8px;
}

.sobtitle-tree-text:last-child {
    margin-bottom: 0;
}

.column-one {
    margin-left: 16px;
}

.foto-two {
    background-color: #000000;
    border-radius: 12px;
}

/* SECTION FOUR */

.container-four {
    display: flex;
}

.col {
    display: flex;
    list-style: none;
    text-decoration: none;
}

.col-list {
    width: 312px;
    background-color: #F3F3F3;
    margin-right: 30px;
    padding: 24px;
}

.col-list:last-child {
    margin-right: 0;
}

.slogan-one {
    
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    color: #000000;
    margin-bottom: 56px;
}

.name {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.1px;
    color: #000000;
    margin-top: 16px;
    margin-bottom: 4px;
}

.col-text {
    width: 240px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.43;
    color: #000000;
    margin-right: 24px;
}

.container-four-col {
    display: flex;
    
}

.col-svg {
    width: 16px;
    height: 16px;
    margin-left: 16px;
}

.col-svg:only-child {
    margin-left: 0;
}

/* SECTION HERO */

.visually-hidden { 
    position: absolute; 
    white-space: nowrap; 
    width: 1px; 
    height: 1px; 
    overflow: hidden; 
    border: 0; 
    padding: 0; 
    clip: rect(0 0 0 0); 
    clip-path: inset(50%); 
    margin: -1px; 
}

.section-hero {
    width: 1440px;
    height: 588px;
    background-image: url(../imeges/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* FOOTER */

.footer {
    background-color: #000000;
    padding-left: 150px;
    padding-right: 150px;
    width: 1140px;
    
}

.container-footer {
    
    display: flex;
    padding-top: 96px;
    padding-bottom: 96px;
}

.footer-one {
    margin-left: 94px;
}

.footer-two {
    margin-left: 96px;
}

.footer-tree {
    margin-left: 125px;
}

.footer-four {
    width: 360px;
    position: relative;
    margin-left: 123px;
}

.white {
    color: #ffffff
}

.subject {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.1px;
    color: #ffffff;
    margin-bottom: 16px;
}

.desc {
    list-style: none;
    text-decoration: none;
}

.dasc-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.25;
    color: #ffffff;
    margin-bottom: 8px;
}

.dasc-text:last-child {
    margin-bottom: 0;
}

.imput {
    width: 312px;
    height: 24px;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 40px;
    border: transparent;
    padding-left: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 24px;
}

.subject-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.15);
    margin-top: 20px;
}

.footer-icon {
    display: block;
    position: absolute;
    margin: 0;
    top: 45%;
    right: 24px;
    transform: translate(0, -50%); 
}